@using GainzTrack.Web.Extensions
@model List<Exercise>
@{
    Layout = null;
}



@{var counter = 1; }

@foreach (var item in Model)
{
    var guid = Guid.NewGuid().ToString().Substring(4);

    <div class="exercise-item">
        <div class="tab">
            <input id="tab-@guid-@counter" type="checkbox" name="tabs">
            <label for="tab-@guid-@counter">@item.ExerciseName</label>

            <span id="exercise-@guid" class="add-exercise-button">Add</span>
            <div class="tab-content">
                <iframe src="@item.VideoUrl.DecodeUrl()" frameborder="0"></iframe>
            </div>
        </div>
        <hr />
    </div>

    counter++;
}
