@{
    Layout = null;
}
<link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />

<div class="login-wrapper">
    <div class="login-left">
        <img src="https://webgradients.com/public/webgradients_png/073%20Love%20Kiss.png">
        <div class="h1">Begin the Gainz</div>
        <div class="login-button">Login</div>
        <div class="register-button">Register</div>

    </div>
    <div class="register-right">
        <div class="h2">Register</div>
        <div class="form-group">
            <input type="text" id="full-name" placeholder="Full Name">
            <label for="full-name">Full Name</label>
        </div>
        <div class="form-group">
            <input type="text" id="Email" placeholder="Email">
            <label for="Email">Email</label>
        </div>
        <div class="form-group">
            <input type="password" id="Password" placeholder="Password">
            <label for="Password">Password</label>
        </div>
        <div class="checkbox-container">
            <input type="checkbox">
            <div class="text-checkbox">I agree with the terms of service.</div>
        </div>
        <div class="button-area">
            <button class="btn btn-primary">Sign Up</button>
        </div>
    </div>
    <div class="login-right">
        <div class="h2">Login</div>
        <div class="form-group">
            <input type="text" id="Email" placeholder="Email">
            <label for="Email">Email</label>
        </div>
        <div class="form-group">
            <input type="password" id="Password" placeholder="Password">
            <label for="Password">Password</label>
        </div>
        <div class="checkbox-container">
            <input type="checkbox">
            <div class="text-checkbox">I agree with the terms of service.</div>
        </div>
        <div class="button-area">
            <button class="btn btn-primary">Login</button>
        </div>
    </div>
</div>

<script src="~/js/index-js.js" asp-append-version="true"></script>