@{Layout = null;}
@model GainzTrack.Web.ViewModels.HomeViewModels.HomeViewModel



<div class="card" style="width:100%">
    <div class="name">
        <a href="#" target="_blank">@Model.Username</a>
        <p>@Model.User.Title.Name</p>
    </div>
</div>