html, body {
    box-sizing: border-box;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/*MODAL STYLING*/

.hide-it {
    display: none;
}

.workout-container {
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
}

.workout-item {
    border: 1px solid grey;
    margin-right: 2em;
    flex-basis: 320px;
    text-align: center;
    padding: 2em 0 2em 0;
    margin-bottom: 1em;
    word-wrap: break-word;
    word-break: break-all;
}


.open-button {
}

    .open-button:hover {
        cursor: pointer;
    }

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background: #000000;
    pointer-events: none;
    opacity: 0;
    transform: scale(0.5);
}

input[type="checkbox"]:checked ~ .overlay {
    pointer-events: auto;
    opacity: 0.9;
    transform: scale(1);
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.modal-item {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.5);
    width: 100%;
    max-width: 700px;
    pointer-events: none;
    opacity: 0;
    z-index: 100;
    height: 100vh;
    overflow-y: auto;    
}
.exercises-modal-item {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.5);
    max-width: 700px;
    pointer-events: none;
    opacity: 0;
    z-index: 100;
    height: 90vh;
    overflow-y: auto;
    margin-top:20px;
    flex-direction: column;
    width: 60%;
    z-index: 100;
    background: white;
}
.exercises-modal-close{
    position:absolute;
    bottom:0;
    left:50%;
    transform:translateX(-50%);
    cursor:pointer;
}

input[type="checkbox"]:checked ~ .modal-item {
    pointer-events: auto;
    opacity: 1;
    transform: translate(-50%,-50%) scale(1);
    transition: transform 0.5s ease, opacity 0.5s ease;
    transition-delay: 0.1s;
}
input[type="checkbox"]:checked ~ .exercises-modal-item {
    pointer-events: auto;
    opacity: 1;
    transform: translate(-50%,-50%) scale(1);
    transition: transform 0.5s ease, opacity 0.5s ease;
    transition-delay: 0.1s;
}

.modal-item > h2 {
    display: block;
    padding: 20px;
    font-size: 70px;
    color: white;
}

/*ACCORDION STYLING*/

.accordion {
    background-color: #808080;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

    .active, .accordion:hover {
        background-color: #ccc;
    }

    .accordion:after {
        content: '\002B';
        color: #777;
        font-weight: bold;
        float: right;
        margin-left: 5px;
    }

.active:after {
    content: '\2212';
}

.accordion-panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

/*Workout Creation Styling (Workout/Create)*/

.form-container {
    display: flex;

    text-align: center;
}

#ms-form {
    flex-basis: 100%;
    margin: 5px 15px 5px 15px;

}

    #ms-form fieldset {
        background:#f8f8f8;
        border: 0 none;
        border-radius: 3px;
        box-shadow: 0 0 15px 1px rgba(0,0,0,0.4);
        padding: 20px 30px;
        margin: 0 10%;
        position: relative;
    }

        #ms-form fieldset:not(:first-of-type) {
            display: none;
        }

    #ms-form input {
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 3px;
        margin-bottom: 10px;
        font-size: 13px;
        color: #ff3434;
        width: 80%;
        min-width: 135px;
    }


    #ms-form .action-btn {
        width: 135px;
        background: #ff3434;
        font-weight: bold;
        color: white;
        border: 0 none;
        border-radius: 1px;
        cursor: pointer;
        padding: 10px 5px;
        margin: 10px 5px;
    }

.fs-title {
    font-size: 20px;
    text-transform: uppercase;
    color: 2C3E50;
    margin-bottom: 10px;
}

#progress-bar {
    margin-bottom: 30px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
}

    #progress-bar li {
        list-style-type: none;
        color: black;
        text-transform: uppercase;
        font-size: 10px;
        width: 50%;
        position: relative;
        float: left;
    }

        #progress-bar li:before {
            content: counter(step);
            counter-increment: step;
            width: 20px;
            line-height: 20px;
            display: block;
            font-size: 10px;
            color: white;
            background: gray;
            border-radius: 3px;
            margin: 0 auto 5px auto;
        }

        #progress-bar li:after {
            content: '';
            width: 100%;
            height: 2px;
            background: gray;
            position: absolute;
            left: -50%;
            top: 9px;
            z-index: -1;
        }

        #progress-bar li:first-child:after {
            /*connector not needed before the first step*/
            content: none;
        }

        #progress-bar li.active-bar:before, #progress-bar li.active:after {
            background: #ff3434;
            color: white;
        }



.select-wraper{

}

.select-dropdown {
    margin: 10px;
    width: 80%;
    border-radius: 3px;
    height: 35px;
}

.remove-day-style {
    position: relative;
    width: 100px;
    margin: 0 auto;
}

.remove-day-style:before {
    content: '-';
    color: white;
    padding: 0px;
    width: 20px;
    height: 20px;
    float: left;
    border-radius: 50%;
    background-color: black;
}

.remove-day-style:hover {
    cursor: pointer;
}


.add-day-style{
    position:relative;
    width:100px;
    margin:0 auto;
}
.add-day-style:before{
    content:'+';
    color:white;
    padding:1px;
    width:20px;
    height:20px;
    float:left;
    border-radius:50%;
    background-color:black;
}
.add-day-style:hover{
    cursor:pointer;
}

.add-exercise-style {
    width: 80%;
    background: white;
    margin: 0 auto;
    border-top: 1px solid rgba(0,0,0,0.3);
    border-bottom: 1px solid rgba(0,0,0,0.3);
}
.add-exercise-style a{
    color:red;
    cursor:pointer;
    text-decoration:none;
}
.add-exercise-style a:before{
    content:'+';
    font-size:15px;
    margin-right:5px;
}
.add-exercise-style label {
    text-transform: uppercase;
    font-size: 12px;
    color: #ff3434;
    margin: 10px;
}


.toggle-btn {
    border: 3px solid #ff3434;
    display: inline-block;
    padding: 10px;
    position: relative;
    text-align: center;
    transition: background 600ms ease,color 600ms ease;
    color: black;
}

input[type="radio"].toggle {
    display: none;
}

    input[type="radio"].toggle + label {
        cursor: pointer;
        min-width: 60px;

    }

        input[type="radio"].toggle + label:hover {
            background: none;
            color: #1e1e1e;
        }

        input[type="radio"].toggle + label:after {
            background: #ff3434;
            content: "";
            height: 100%;
            position: absolute;
            top: 0;
            transition: left 200ms cubic-bezier(0.77, 0, 0.175, 1);
            width: 100%;
            z-index: -1;
        }

    input[type="radio"].toggle-left + label {
        border-right: 0;
    }

        input[type="radio"].toggle-left + label:after {
            left: 100%;
        }

    input[type="radio"].toggle-right + label {
        margin-left:-5px;
    }

        input[type="radio"].toggle-right + label:after {
            left: -100%;
        }
    input[type="radio"].toggle:checked + label {
        cursor: default;
        color: black;
        transition: color 200ms;
        z-index:2;
    }
    input[type="radio"].toggle:checked + label:after {
        left: 0;
    }


    /*Add Exercises Modal Styling*/

iframe {
    width: 100%;
    height: 40vh;
}

.tab {
    position: relative;
    margin-bottom: 1px;
    width: 100%;
    color: #fff;
    overflow: hidden;
    text-align: center;
}

    .tab input {
        position: absolute;
        opacity: 0;
        z-index: -1;
    }

    .tab label {
        position: relative;
        display: block;
        padding: 0 0 0 1em;
        background: white;
        color: black;
        font-weight: bold;
        padding-top: 15px;
        cursor: pointer;
        line-height: 2;
        font-size: 20px;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
    }

.blue label {
    background: #2980b9;
}

.tab-content {
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height .35s;
    -o-transition: max-height .35s;
    transition: max-height .35s;
}

.blue .tab-content {
    background: #3498db;
}

.tab-content p {
    margin: 1em;
}
/* :checked */
.tab input:checked ~ .tab-content {
    max-height: 100vh;
}

/* Icon */
.tab label::after {
    position: absolute;
    right: 0;
    top: 0;
    width: 3em;
    height: 3em;
    line-height: 3;
    text-align: center;
    -webkit-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
}

.tab label::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 40px;
    content: "\f144";
    position: absolute;
    left: 15px;
    top: -10px;
    -webkit-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
}

.tab input[type=checkbox] + label::after {
    content: "+";
}

.tab input[type=radio] + label::after {
    content: "\25BC";
}

.tab input[type=checkbox]:checked + label::after {
    transform: rotate(315deg);
}

.tab input[type=checkbox]:checked + label::before {
    transform: rotate(360deg);
    content: "\f28d";
}

.tab input[type=radio]:checked + label::after {
    transform: rotateX(180deg);
}

.exercise-item {
    position: relative;
    flex-basis: 10%;
    width: 60%;
    margin: 0 auto;

}