@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
@import url('https://fonts.googleapis.com/css?family=Krub:400,700');

html{
    box-sizing: border-box;
}
body {
    box-sizing: border-box;
    /*background: linear-gradient(45deg, #f4ebe5, #e3d4ca);*/
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    background: #f0f0f0;
    line-height: normal;
    overflow-Y: scroll;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/*MODAL STYLING*/

.hide-it {
    display: none;
}

.workout-container {
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
}

.workout-item {
    border: 1px solid grey;
    border-radius:10px;
    margin-right: 2em;
    margin-left:2em;
    flex-basis: 320px;
    text-align: center;
    padding: 2em 0 2em 0;
    margin-bottom: 1em;
    word-wrap: break-word;
    word-break: break-all;
    transition: 1s;
}
    .workout-item:hover {
        background-color:#ff8181;
        cursor:pointer;
    }



    .open-button:hover {
        cursor: pointer;
    }

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background: #000000;
    pointer-events: none;
    opacity: 0;
    transform: scale(0.5);
}

input[type="checkbox"]:checked ~ .overlay {
    pointer-events: auto;
    opacity: 0.9;
    transform: scale(1);
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.modal-item {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.5);
    width: 100%;
    max-width: 700px;
    pointer-events: none;
    opacity: 0;
    z-index: 100;
    height: 100vh;
    overflow-y: auto;
}

.exercises-modal-item {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.5);
    max-width: 700px;
    pointer-events: none;
    opacity: 0;
    z-index: 100;
    height: 90vh;
    overflow-y: auto;
    margin-top: 20px;
    flex-direction: column;
    width: 60%;
    z-index: 100;
    background: white;
}
.custom-exercises-modal-item {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.5);
    max-width: 500px;
    pointer-events: none;
    opacity: 0;
    z-index: 100;
    overflow-y: auto;
    margin-top: 20px;
    flex-direction: column;
    width: 60%;
    z-index: 100;
    background: white;
}
#add-custom-exercise {
    padding:10px;
    width: 300px;
    background-color: crimson;
    margin: 10px auto;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.5);

}
    #add-custom-exercise a{
        color:white;
        text-transform:uppercase;
        transition:.6s;
        cursor:pointer;
        text-decoration:none;
    }
    #add-custom-exercise a:hover {
        color: black;
        font-size:16px;

    }
    #custom-exercise-error,#custom-exercise-success {
        display: none;
    }


.custom-exercise-style {
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: crimson;
    margin: 10px auto;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.5);
}
    .custom-exercise-style label {
        text-transform: uppercase;
        font-size: 12px;
        margin: 10px;
    }
    .custom-exercise-style a {
        color: white;
        cursor: pointer;
        text-decoration: none;
        transition: .6s
    }

    .custom-exercise-style a:hover {
        color: black;
        font-size:16px;
    }
    .custom-exercise-submit {
        border: none;
        border-radius: 10px;
        padding: 15px;
        background-color: crimson;
        color: white;
        display: block;
        margin: 2px auto;
        width: 250px;
        cursor: pointer;
    }

.exercises-modal-close {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}



.existing-exercise:checked ~ .exercises-modal-item {
    pointer-events: auto;
    opacity: 1;
    transform: translate(-50%,-50%) scale(1);
    transition: transform 0.5s ease, opacity 0.5s ease;
    transition-delay: 0.1s;
}
.custom-exercise:checked ~ .custom-exercises-modal-item {
    pointer-events: auto;
    opacity: 1;
    transform: translate(-50%,-50%) scale(1);
    transition: transform 0.5s ease, opacity 0.5s ease;
    transition-delay: 0.1s;
}
.modal-item > h2 {
    display: block;
    padding: 20px;
    font-size: 70px;
    color: white;
}

/*ACCORDION STYLING*/

.accordion {
    background-color: #808080;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

    .active, .accordion:hover {
        background-color: #ccc;
    }

    .accordion:after {
        content: '\002B';
        color: #777;
        font-weight: bold;
        float: right;
        margin-left: 5px;
    }

.active:after {
    content: '\2212';
}

.accordion-panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

/*Workout Creation Styling (Workout/Create)*/

.form-container {
    display: flex;
    text-align: center;
}

#ms-form {
    flex-basis: 100%;
    margin: 5px 15px 5px 15px;
}

    #ms-form fieldset {
        background: #f8f8f8;
        border: 0 none;
        border-radius: 3px;
        box-shadow: 0 0 15px 1px rgba(0,0,0,0.4);
        padding: 20px 30px;
        margin: 0 10%;
        position: relative;
    }

        #ms-form fieldset:not(:first-of-type) {
            display: none;
        }

    #ms-form input {
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 3px;
        margin-bottom: 10px;
        font-size: 13px;
        width: 80%;
        min-width: 135px;
    }


    #ms-form .action-btn {
        width: 135px;
        background: #ff3434;
        font-weight: bold;
        color: white;
        border: 0 none;
        border-radius: 1px;
        cursor: pointer;
        padding: 10px 5px;
        margin: 10px 5px;
    }

.fs-title {
    font-size: 20px;
    text-transform: uppercase;
    color:#2C3E50;
    margin-bottom: 10px;
}

#progress-bar {
    margin-bottom: 30px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
}

    #progress-bar li {
        list-style-type: none;
        color: black;
        text-transform: uppercase;
        font-size: 10px;
        width: 50%;
        position: relative;
        float: left;
    }

        #progress-bar li:before {
            content: counter(step);
            counter-increment: step;
            width: 20px;
            line-height: 20px;
            display: block;
            font-size: 10px;
            color: white;
            background: gray;
            border-radius: 3px;
            margin: 0 auto 5px auto;
        }

        #progress-bar li:after {
            content: '';
            width: 100%;
            height: 2px;
            background: gray;
            position: absolute;
            left: -50%;
            top: 9px;
            z-index: -1;
        }

        #progress-bar li:first-child:after {
            /*connector not needed before the first step*/
            content: none;
        }

        #progress-bar li.active-bar:before, #progress-bar li.active:after {
            background: #ff3434;
            color: white;
        }



.select-dropdown {
    margin: 10px;
    width: 80%;
    border-radius: 3px;
    height: 35px;
}

.remove-day-style {
    position: relative;
    width: 100px;
    margin: 0 auto;
}

    .remove-day-style:before {
        content: '-';
        color: white;
        padding: 0px;
        width: 20px;
        height: 20px;
        float: left;
        border-radius: 50%;
        background-color: black;
    }

    .remove-day-style:hover {
        cursor: pointer;
    }


.add-day-style {
    position: relative;
    width: 100px;
    margin: 0 auto;
}

    .add-day-style:before {
        content: '+';
        color: white;
        padding: 1px;
        width: 20px;
        height: 20px;
        float: left;
        border-radius: 50%;
        background-color: black;
    }

    .add-day-style:hover {
        cursor: pointer;
    }

.add-exercise-style {
    display:flex;
    flex-direction:column;
    width: 300px;
    background-color:crimson;
    margin: 0 auto;
    border-radius:10px;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.5);
}
    .add-exercise-style hr{
        margin:0;
    }


    .add-exercise-style .exercise-action-btn {
        color: white;
        cursor: pointer;
        text-decoration: none;
        transition: .6s;
    }
        .add-exercise-style .exercise-action-btn:hover {
            color: black;
            font-size: 15.5px;
        }

    .add-exercise-style  label{
        text-transform: uppercase;
        font-size: 12px;
        margin: 10px;
    }

.add-exercise-button {
    color: green;
    font-size: 15px;
    cursor: pointer;
}

.custom-exercise-form-container{
}

#custom-exercises-close{
    position:absolute;
    right:0;
    top:0;
}

.remove-exercise-button {
    color: red;
    font-size: 15px;
    cursor: pointer;
}

.list-exercises{
    width:80%;
    margin:0 auto;
}
    

    .close-button-wraper {
        position: absolute;
        top: 0;
        right: 0;
    }


.toggle-btn {
    border: 3px solid #ff3434;
    display: inline-block;
    padding: 10px;
    position: relative;
    text-align: center;
    transition: background 600ms ease,color 600ms ease;
    color: black;
}

input[type="radio"].toggle {
    display: none;
}

    input[type="radio"].toggle + label {
        cursor: pointer;
        min-width: 60px;
    }

        input[type="radio"].toggle + label:hover {
            background: none;
            color: #1e1e1e;
        }

        input[type="radio"].toggle + label:after {
            background: #ff3434;
            content: "";
            height: 100%;
            position: absolute;
            top: 0;
            transition: left 200ms cubic-bezier(0.77, 0, 0.175, 1);
            width: 100%;
            z-index: -1;
        }

input[type="radio"].toggle-left + label {
    border-right: 0;
}

    input[type="radio"].toggle-left + label:after {
        left: 100%;
    }

input[type="radio"].toggle-right + label {
    margin-left: -5px;
}

    input[type="radio"].toggle-right + label:after {
        left: -100%;
    }

input[type="radio"].toggle:checked + label {
    cursor: default;
    color: black;
    transition: color 200ms;
    z-index: 2;
}

    input[type="radio"].toggle:checked + label:after {
        left: 0;
    }


/*Add Exercises Modal Styling*/

iframe {
    width: 100%;
    height: 40vh;
}

.tab {
    position: relative;
    margin-bottom: 1px;
    width: 100%;
    color: #fff;
    overflow: hidden;
    text-align: center;
}

    .tab input {
        position: absolute;
        opacity: 0;
        z-index: -1;
    }

    .tab label {
        position: relative;
        display: block;
        padding: 0 0 0 1em;
        background: white;
        color: black;
        font-weight: bold;
        cursor: pointer;
        line-height: 2;
        font-size: 20px;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
    }

.list-exercises label {
    padding: 15px 0 15px 0;
    box-shadow: 0 2px 13px rgba(0,0,0,0.5);
    border-radius:15px;
    margin:5px;
}
.blue label {
    background: #2980b9;
}

.tab-content {
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height .35s;
    -o-transition: max-height .35s;
    transition: max-height .35s;
}

.blue .tab-content {
    background: #3498db;
}

.tab-content p {
    margin: 1em;
}
/* :checked */
.tab input:checked ~ .tab-content {
    max-height: 100vh;
}

/* Icon */
.tab label::after {
    position: absolute;
    right: 0;
    top: 0;
    width: 3em;
    height: 3em;
    line-height: 3;
    text-align: center;
    -webkit-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
}

.tab label::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 40px;
    content: "\f144";
    position: absolute;
    left: 15px;
    top: -10px;
    -webkit-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
}

.tab input[type=checkbox] + label::after {
    content: "+";
}

.tab input[type=radio] + label::after {
    content: "\25BC";
}

.tab input[type=checkbox]:checked + label::after {
    transform: rotate(315deg);
}

.tab input[type=checkbox]:checked + label::before {
    transform: rotate(360deg);
    content: "\f28d";
}

.tab input[type=radio]:checked + label::after {
    transform: rotateX(180deg);
}

.exercise-item {
    position: relative;
    flex-basis: 10%;
    width: 60%;
    margin: 0 auto;
}








html {
    box-sizing: border-box;
}

.dashboard {
    font-family: 'Open Sans Condensed', sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background: #fff;
    height:100%;
    width: 100%;
    border-radius: 0.4375rem;
    box-shadow: 1.375rem 2rem 2.125rem rgba(0, 0, 0, 0.06);
    overflow: hidden;
}

.dashboard-sidebar {
    font-family: 'Open Sans Condensed', sans-serif;
    position: fixed;
    width: 225px;
    height: 100vh;
    background: white;
    top: 75px;
    left: 0;
    bottom: 0;
    box-shadow: 5px 2px 22px rgba(0, 0, 0, 0.2);
    transition: .5s ease-out;
}

    .dashboard-sidebar ul {
        margin-top: 0;
        margin-bottom: 10px;
        list-style: none;
        padding: 0px;
    }
    .hide-opacity{
        opacity:0;
        visibility:hidden;
    }

    .dashboard-sidebar li {
        text-align: left;
        height: 45px;
        font-size: 14px;
        letter-spacing: .025em;
        line-height: 1.5;
    }

        .dashboard-sidebar li a {
            padding: 0;
        }

            .dashboard-sidebar li a:hover .icon-bg {
                transform: translate3d(0, 0, 0);
            }

            .dashboard-sidebar li a:hover {
                background-color: rgba(0,0,0,0.05);
            }

            .dashboard-sidebar li a i {
                position: relative;
                width: 45px;
                line-height: 45px;
                text-align: center;
            }

                .dashboard-sidebar li a i:before {
                    z-index: 10;
                    position: relative;
                }

.icon-bg {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    width: 100%;
    -webkit-transform: translate3d(-43px, 0, 0);
    transform: translate3d(-43px, 0, 0);
    transition: all .2s ease-in-out;
    background: red;
}

.navbar-item-text {
    display: inline-block;
    visibility: visible;
    opacity: 1;
    padding-left: 10px;
    -webkit-transition: all .1s .1s;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    text-transform: uppercase;
    font-size: 20px;
}



.dashboard-sidebar--active {
    width: 45px;
}
.hide-opacity {
    opacity: 0;
}


.dashboard-sidebar__brand {
    margin: 0 0 1.4375rem;
    padding: 1.4375rem 1.625rem;
}

.dashboard-nav__item {
    background: 0;
}

    .dashboard-nav__item a {
        display: block;
        padding: 1.3125rem 2.25rem;
        color: inherit;
        text-decoration: none;
        font-size: 18px;
    }

        .dashboard-nav__item a img {
            margin: 0 1.5rem 0 0;
        }

.dashboard-nav__item--selected {
    background: rgba(255, 0, 0, 0.58);
    color: white;
}

.dashboard-content {
    width: 100%;
    border-right: 0.0625rem solid #f2f2f2;
    overflow-y: auto;
}


.dashboard-content__panel {
    display: none;
}

.dashboard-content__panel--active {
    display: block;
}

.dashboard-list__item {
    padding: 2.0625rem 2.5625rem;
    border-bottom: 0.0625rem solid #f2f2f2;
    cursor: pointer;
}

    .dashboard-list__item h2 {
        margin: 0 0 1.6875rem;
        color: #5f6876;
        letter-spacing: 0.15rem;
    }

    .dashboard-list__item span {
        display: block;
        margin: 0 0 1.5rem;
        font-size: 0.625rem;
        letter-spacing: 0.13625rem;
    }

.dashboard-list__item--active {
    background: #f5f7f7;
}

.dashboard-list__avatar {
    display: inline-block;
    max-width: 1.9375rem;
    max-height: 1.9375rem;
    border-radius: 100%;
    overflow: hidden;
    margin: 0 0.6875rem 0 0;
}

.dashboard-header {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-height: 3.6875rem;
    border-bottom: 0.0625rem solid #f2f2f2;
}

.dashboard-header__search {
    width: 100%;
    height: 100%;
    border-right: 0.0625rem solid #f2f2f2;
}

    .dashboard-header__search input {
        outline: none;
        display: block;
        width: 100%;
        padding: 23px;
        border: 0;
        letter-spacing: 0.125rem;
    }

.dashboard-header__new {
    min-width: 3.75rem;
    padding: 23px;
    box-sizing: border-box;
    cursor: pointer;
}

.dashboard-preview {
    width: 100%;
    height: 100%;
}

.dashboard-preview__panel {
    display: none;
}

.dashboard-preview__panel--active {
    display: block;
}

.dashboard-preview__header {
    margin: 0 0 9.5rem;
    padding: 1.6875rem 1.8125rem;
    color: #fff;
}

    .dashboard-preview__header h2 {
        font-size: 0.875rem;
        line-height: 1.0625rem;
    }

    .dashboard-preview__header h3 {
        font-size: 2.25rem;
        line-height: 2.875rem;
    }

        .dashboard-preview__header h3 span {
            font-size: 1rem;
            line-height: 2.25rem;
            vertical-align: top;
        }

.dashboard-preview__content {
    padding: 0 2.75rem;
}

    .dashboard-preview__content section {
        padding: 2.0625rem 0;
        border-bottom: 1px solid #f2f2f2;
    }

        .dashboard-preview__content section:last-child {
            border: 0;
        }

    .dashboard-preview__content h2 {
        color: #5f6876;
        letter-spacing: 0.1375rem;
    }

        .dashboard-preview__content h2 span {
            color: #c0c3c9;
            font-size: 0.625rem;
        }

    .dashboard-preview__content label {
        display: block;
        margin: 1.0625rem 0 0 0;
        color: #5f6876;
    }

        .dashboard-preview__content label:first-child {
            margin: 2.5rem 0 0 0;
        }

        .dashboard-preview__content label input {
            margin: 0 1.4375rem 0 0;
        }

            .dashboard-preview__content label input:checked ~ span {
                color: #c0c3c9;
                text-decoration: line-through;
            }


.dashboard-nav ul li {
    list-style: none;
}

    .dashboard-nav ul li:hover {
        background: rgba(255, 0, 0, 0.58);
        color: white;
        transition: .4s;
    }

.dashboard-header-nav {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    box-shadow: 0 0px 9px 4px rgba(0, 0, 0, 0.1), 0 -5px 2px 2px rgba(0, 0, 0, 0.1);
    background: white;
    text-align: center;
    width: 100%;
    z-index: 9999;
}

.dashboard-toggle-btn {
    line-height: 75px;
    height: auto;
    font-size: 25px;
    position: relative;
    padding: 0 15px;
    display: inline-block;
    transition: 1s ease-out;
}

    .dashboard-toggle-btn--active{
        left:-160px;
    }

.dashboard-logo-container {
    width: 225px;
    float: left;
    transition: all .2s ease-in-out;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
    border: 0;
    transition: 1s ease-out;
}

.dashboard-logo {
    padding-top: 2px;
    margin-right: 10px;
    font-size: 35px;
    text-decoration: none;
    margin-bottom: 10px;
    height: auto;
    transition:all 1s;
}

.dashboard-logo--active {
    position: relative;
    left: -150px;
    transition: 0,5s ease-out;
}

    .dashboard-content-wrapper {
        position: absolute;
        left: 230px;
        top: 75px;
        width: auto;
        height:100%;
        right: 0;
        transition: all .2s ease-in-out;
    }
.dashboard-content-wrapper--active {
    left: 50px;
}
.dashboard-content-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.dashboard-top-nav-container {
    padding: 10px;
    float: right;
    transition: all .2s ease-in-out;
}
.dashboard-header-nav ul{
    margin:0;
}
.links {
    margin-right: 10px;
    position: relative;
}

    .links > li {
        list-style: none;
        position: relative;
        margin: 10px;
        display: inline-block;
    }
.dashboard-menu-item {
    position: relative;
    padding: 0 5px;
    line-height: 30px;
    height: 30px;
    color: #89949B;
    z-index: 5;
    display: inline-block;
}
.dashboard-list-img {
    border-radius: 100%;
    width: 30px;
    height: 30px;
}

.dashboard-dropmenu-item {
    position: absolute;
    right: -6px;
    top: 45px;
    min-width: 150px;
   opacity:0;
    background: white;
    border: 1px solid #BDBDBD;
    border-top: 5px solid #515d6e;
    border-radius: 2px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    display: none;
    transition: all 1s ease;
}
.dashboard-dropmenu-item--active {
    display: block;
    opacity:1;
        transition: all 1s ease;
        padding-left:0;
}

.dashboard-dropmenu-item:before {
    content: "";
    position: absolute;
    border-width: 0 10px 10px 10px;
    border-style: solid;
    border-color: #515d6e transparent;
    top: -14px;
    right: 14px;
}
.dashboard-notification-item {
    width: 100%;
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #EEEEEE;
    list-style:none;
}
.dashboard-notification-item a {
   text-decoration:none;
}
.dashboard-notification-item .dashboard-notification-content {
    color: #404040;
}
.dashboard-notification-item a > i {
        margin: 0 10px 0 0;
        font-size:15px;
    }


    .fa {
        display: inline-block;
        font-size: inherit;
        text-rendering: auto;
    }

    .fa::before {
        content: "\f0c9";
    }

.progress-bar {
    position: relative;
    background: #edebea;
    height: 0.3125rem;
    border-radius: 6.25rem;
    margin: 2.875rem 0 0 0;
}

.progress-bar__bar {
    background: #8fc6c3;
    height: 100%;
    border-radius: 6.25rem;
}

.progress-bar__badge {
    position: absolute;
    top: 0;
    left: 0;
    background: #a7dedb;
    border-radius: 6.25rem;
    box-shadow: 0.125rem 0.25rem 0.75rem rgba(167, 222, 219, 0.56);
    padding: 0.375rem 0.5rem;
    color: #fff;
    font-size: 0.625rem;
    line-height: 0.75rem;
    transform: translate(-50%, -50%);
}

#create-workout a {
    text-align: center;
}

#create-workout:hover {
    background: rgba(200, 200, 200, 0.68);
    transition: .7s;
}




.card {
    position: relative;
    margin: auto;
    background: white;
    font-size:20px;
    display: inline-block;
}

    .card:hover {
        box-shadow: 0px 0px 0px #888888;
        border: 1px solid black;
    }

    .card .ds-top {
        margin: auto;
        height: 80px;
        background: rgba(255, 0, 0, 0.58);
        animation: dsTop 1.5s;
    }

    .card .avatar-holder {
        margin: auto;
        height: 100px;
        background: white;
        overflow: hidden;
        animation: mvTop 1.5s;
    }

        .card .avatar-holder img {
            position: absolute;
            width: 120px;
            height: 120px;
            border-radius: 50%;
            top: 10%;
            left: 50%;
            transform: translateX(-50%);
        }

    .card .name {
        margin: auto;
        width: inherit;
        text-align: center;
        animation: fadeIn 2s ease-in;
    }

        .card .name a {
            color: black;
            text-shadow: 0 0 1px rgba(255, 0, 0, 0.4), 1px 1px 1px rgba(0, 0, 0, 0.2);
            text-decoration: none;
            font-weight: 700;
        }

            .card .name a:hover {
                text-decoration: underline;
                color: crimson;
            }



    .card .button a:hover {
        color: white;
        background: crimson;
    }


.stats-container {
    width: 100%;
    display: flex
}

.stats-item {
    flex-basis: 33%;
    text-align: center;
    margin:5px;
}

    .stats-item h5 {
        margin: 0 auto;
        color: crimson;
        font-size:20px;
    }

#create-workout {
    padding: 20px;
    text-align: center;
}

    #create-workout a {
        text-decoration: none;
        color: black;
        font-size: 30px;
    }

.exercise-preview {
    font-size: 15px;
}

#slider {
    position: relative;
    overflow: hidden;
    margin: 20px auto 0 auto;
    border-radius: 4px;
}

    #slider ul {
        position: relative;
        margin: 0;
        padding: 0;
        height: 200px;
        list-style: none;
    }

        #slider ul li {
            position: relative;
            display: block;
            float: left;
            margin: 0;
            padding: 0;
            width: 500px;
            height: 150px;
            background: #ccc;
            text-align: center;
            line-height: 150px;
        }

a.control_prev, a.control_next {
    position: absolute;
    top: 30%;
    z-index: 999;
    display: block;
    padding: 4% 3%;
    width: auto;
    height: auto;
    background: #2a2a2a;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    opacity: 0.8;
    cursor: pointer;
}
    a.control_prev:hover, a.control_next:hover {
        opacity: 1;
        -webkit-transition: all 0.2s ease;
    }

a.control_prev {
    border-radius: 0 2px 2px 0;
}

a.control_next {
    right: 0;
    border-radius: 2px 0 0 2px;
}

.slider_option {
    position: relative;
    margin: 10px auto;
    width: 160px;
    font-size: 18px;
}
.featured-workouts{
    text-align:center;      
}





.content-fluid {
    margin-top: 15px;
    display: flex;
    height: 100%;
    overflow: hidden;
    background-color: white;
    box-shadow: 0px 5px 20px rgba(0,0,0,0.8);
}

.workouts-container {
    height: 100%;
    flex-basis: 70%;
    
}

.preview-container {
    flex-basis: 30%;
    height: 100%;
    border-left:3px solid white;
}

.workouts-header {
    width: 100%;
    height: 40px;
    background-color: crimson;
    text-align: center;
    line-height: 40px;
    text-transform:uppercase;
}

    .workouts-header h2 {
        margin: 0;
        color: white;
    }

.workouts-selector {
    display: flex;
    height: 30px;
    width: 100%;
    line-height: 25px;
}

.workouts-selector-item {
    flex-basis: 50%;
    text-align: center;
    cursor: pointer;
    text-transform:uppercase;
}

.workouts-selector-item--active {
    border-bottom: 3px solid crimson;
}

.workouts-list {
    height: 521px;
    width: 100%;
    overflow-y: scroll;
}

.workout-list-item {
    display: flex;
    height: 150px;
    width: 60%;
    margin: 10px auto;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.7);
}

.workout-list-item-left {
    position: relative;
    flex-basis: 70%;
    height: 100%;
    text-align: left;
}

    .workout-list-item-left h3 {
        margin-left: 10px;
    }

.workout-list-item-right {
    position: relative;
    flex-basis: 30%;
    height: 100%;
    box-shadow: 3px 0 10px rgba(0,0,0,0.6);
    background-color: crimson;
}

.workout-func-btn {
    flex-basis: 33.33%;
    border: none;
    padding: 5px;
    background-color:white;
    color: black;
    bottom: 5px;
    left: 40%;
    font-size:11px;
    cursor: pointer;
    border-right:1px solid rgba(0,0,0,0.4);
    transition:.5s all ease;
    text-transform:uppercase;
}
    .workout-func-btn:hover{
        background-color:crimson;
        color:white;
    }

    .buttons-holder {
        display: flex;
        position: absolute;
        bottom: 0;
        width: 100%;
        border-top: 2px solid crimson;
    }
.workout-create-btn-container{
    width:100%;
    text-align:center;
}
.workout-create-btn{
    position:relative;
    border:none;
    border-radius:50%;
    background-color:black;
    height:25px;
    width:25px;
    margin-top:10px;
    padding:10px;
    cursor:pointer;
    transition:.5s all ease;
}
.workout-create-btn::after{
    content:'+';
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    color:white;
    font-size:20px;

}
.workout-dropmenu-item {
    position: absolute;
    left:32%;
    top: 12%;
    min-width: 150px;
    background: white;
    opacity:0;
    border: 1px solid #BDBDBD;
    border-top: 5px solid black;
    border-radius: 2px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);   
    transition:1s all ease;
    z-index:999999;
    display:none;
}
.workout-notification-item {
    width: 100%;
    padding: 3px;
    text-align: left;
    border-bottom: 1px solid #EEEEEE;
    list-style: none;
    transition:1s all ease;
}
.workout-notification-item a {
    text-decoration: none;
}

.workout-notification-item .dashboard-notification-content {
    color: #404040;
}

.workout-notification-item a > i {
    margin: 0 10px 0 0;
    font-size: 15px;
}

.workout-dropmenu-item--active {
    display: block;
    opacity: 1;
    transition: all 1s ease;
    padding-left: 0;
}
.workout-create-btn--active{
        margin-right:75px;
}


.table-fill {
    background: white;
    border-radius: 3px;
    border-collapse: collapse;
    height:auto;
    margin:10px auto;
    max-width: 800px;
    padding: 5px;
    width: 100%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    animation: float 5s infinite;
}

    .table-fill th {
        color: #D5DDE5;
        
        background: crimson;
        border-bottom: 4px solid #9ea7af;
        border-right: 1px solid #343a45;
        font-size: 23px;
        font-weight: 100;
        padding: 10px;
        text-align: left;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
        vertical-align: middle;
    }

        .table-fill th:first-child {
            border-top-left-radius: 3px;
        }

        .table-fill th:last-child {
            border-top-right-radius: 3px;
            border-right: none;
        }

    .table-fill tr {
        border-top: 1px solid #C1C3D1;
        border-bottom: 1px solid #C1C3D1;
        color: #666B85;
        font-size: 16px;
        font-weight: normal;
        text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
    }

        .table-fill tr:hover td {
            background: #4E5066;
            color: #FFFFFF;
            border-top: 1px solid #22262e;
        }

        .table-fill tr:first-child {
            border-top: none;
        }

        .table-fill tr:last-child {
            border-bottom: none;
        }

        .table-fill tr:nth-child(odd) td {
            background: #EBEBEB;
        }

        .table-fill tr:nth-child(odd):hover td {
            background: #4E5066;
        }

        .table-fill tr:last-child td:first-child {
            border-bottom-left-radius: 3px;
        }

        .table-fill tr:last-child td:last-child {
            border-bottom-right-radius: 3px;
        }

    .table-fill td {
        background: #FFFFFF;
        text-align: left;
        vertical-align: middle;
        font-weight: 300;
        font-size: 18px;
        text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
        border-right: 1px solid #C1C3D1;
    }

        .table-fill td:last-child {
            border-right: 0px;
        }

    .table-fill th.text-left {
        text-align: left;
    }

    .table-fill th.text-center {
        text-align: center;
    }

    .table-fill th.text-right {
        text-align: right;
    }

    .table-fill td.text-left {
        text-align: left;
    }

    .table-fill td.text-center {
        text-align: center;
    }

    .table-fill td.text-right {
        text-align: right;
    }

.table-title {
    width: 100%;
    height: 40px;
    background-color: crimson;
    text-align: center;
    line-height: 40px;
    text-transform: uppercase;
}

.table-title h2 {
    color: white;
    margin:0;
}



.admin-header {
    height: 40px;
    width: 100%;
    background-color: crimson;
    line-height: 40px;
    text-align: center;
    color: white;
}

    .admin-header span {
        text-transform: uppercase;
        letter-spacing: 1px;
        padding: 10px;
    }
.remove-textdec {
    text-decoration: none;
    color:white;
}
.option--active {
    font-size: 20px;
    color: black;
}


.dropdown {
    display: inline-block;
    position: relative;
}

.dd-button {
    display: inline-block;
    border: 1px solid gray;
    border-radius: 4px;
    padding: 10px 30px 10px 20px;
    background-color: #ffffff;
    cursor: pointer;
    white-space: nowrap;
}

    .dd-button:after {
        content: '';
        position: absolute;
        top: 50%;
        right: 15px;
        transform: translateY(-50%);
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid black;
    }

    .dd-button:hover {
        background-color: #eeeeee;
    }


.dd-input {
    display: none;
}

.dd-menu {
    position: absolute;
    top: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0;
    margin: 2px 0 0 0;
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
    background-color: #ffffff;
    list-style-type: none;
}

.dd-input + .dd-menu {
    display: none;
}

.dd-input:checked + .dd-menu {
    display: block;
}

.dd-menu li {
    padding: 10px 20px;
    cursor: pointer;
    white-space: nowrap;
}

    .dd-menu li:hover {
        background-color: #f6f6f6;
    }

    .dd-menu li a {
        display: block;
        margin: -10px -20px;
        padding: 10px 20px;
    }

    .dd-menu li.divider {
        padding: 0;
        border-bottom: 1px solid #cccccc;
    }


.table-administration {
    border-spacing: 1;
    border-collapse: collapse;
    background: white;
    border-radius: 6px;
    overflow: hidden;
    max-width: 800px;
    width: 100%;
    margin:0 auto;
    position: relative;
}

    .table-administration * {
        position: relative;
    }

    .table-administration td, table th {
        padding-left: 8px;
    }

    .table-administration thead tr {
        height: 60px;
        background: crimson;
        font-size: 16px;
        color: white;
    }

    .table-administration tbody tr {
        height: 48px;
        border-bottom: 1px solid #E3F1D5;
    }

        .table-administration tbody tr:last-child {
            border: 0;
        }

    .table-administration td, table th {
        text-align: left;
    }

        .table-administration td.l, table th.l {
            text-align: right;
        }

        .table-administration td.c, table th.c {
            text-align: center;
        }

        .table-administration td.r, table th.r {
            text-align: center;
        }

@media screen and (max-width: 35.5em) {
    .table-administration {
        display: block;
    }

        .table-administration > *, table tr, table td, table th {
            display: block;
        }

        .table-administration thead {
            display: none;
        }

        .table-administration tbody tr {
            height: auto;
            padding: 8px 0;
        }

            .table-administration tbody tr td {
                padding-left: 45%;
                margin-bottom: 12px;
            }

                .table-administration tbody tr td:last-child {
                    margin-bottom: 0;
                }

                .table-administration tbody tr td:before {
                    position: absolute;
                    font-weight: 700;
                    width: 40%;
                    left: 10px;
                    top: 0;
                }

                .table-administration tbody tr td:nth-child(1):before {
                    content: "Code";
                }

                .table-administration tbody tr td:nth-child(2):before {
                    content: "Stock";
                }

                .table-administration tbody tr td:nth-child(3):before {
                    content: "Cap";
                }

                .table-administration tbody tr td:nth-child(4):before {
                    content: "Inch";
                }

                .table-administration tbody tr td:nth-child(5):before {
                    content: "Box Type";
                }
}

.create-achievement-btn-container {
    width: 100%;
    text-align: center;
}

.create-achievement-btn {
    padding: 10px 30px 10px 30px;
    margin: 5px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 5px;
}

    .create-achievement-btn a {
        text-decoration: none;
    }





.achievements-menu {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid grey;
    line-height: 80px;
}

    .achievements-menu span {
        text-transform: uppercase;
        padding: 10px;
        color:black;  
    }
.achievements-menu-item {
    text-decoration: none;
    color: black;
    font-size:22px;
}
.achievements-menu-item--active {
    color: crimson;
    font-size: 22px;
}

.achievements-container {
    width: 100%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
}

.achievement-item {
    flex-basis: 22%;
    height: 100px;
    margin: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
}

.achievement-item-header {
    width: 100%;
    height: 30px;
    line-height: 30px;
    background-color: black;
    text-align: center;
}

    .achievement-item-header span {
        color: white;
        text-transform: uppercase;
    }

.achievement-item-info {
    display: flex;
    width: 100%;
    height: 40px;
}

.info-div {
    flex-basis: 33%;
    margin: 2px;
    text-align: center;
}

    .info-div h4 {
        margin: 0;
        text-transform: uppercase;
        font-size: 12px;
        color: crimson;
    }

    .info-div span {
        margin: 0;
    }

.view-achievement-btn {
    text-transform: uppercase;
    color: black;
    height: auto;
    text-align: center;
    padding: 5px;
    border-top: 1px solid grey;
    transition: .5s ease;
    cursor: pointer;
}

    .view-achievement-btn:hover {
        background-color: crimson;
        color: white;
    }




.exercise-information-container {
    position: relative;
    height: 50vh;
    width: 80%;
    margin: 0 auto;
}

.achievement-information {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    border-top: 2px solid black;
    margin-bottom: 20px;
}

.achievement-information-item {
    flex-basis: 33%;
    padding: 10px;
}

    .achievement-information-item h4 {
        color: crimson;
        font-size: 18px;
        margin: 0;
    }

    .achievement-information-item span {
        font-weight: bold;
    }


.close {
    position: absolute;
    top: 0;
    right: 0;
    width: 35px;
    height: 30px;
    background: #000;
    color: #fff;
    cursor: pointer;
    border: 0;
}
.close-exercises {
    position: sticky;
    line-height:30px;
    top: 0;
    float:right;
    width: 35px;
    height: 30px;
    background: #000;
    color: #fff;
    cursor: pointer;
    border: 0;
}

.mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(52, 73, 94, 0.8);
    z-index: 50;
    visibility: hidden;
    opacity: 0;
    transition: 0.7s;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 300px;
    background: #bdc3c7;
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s ease-out;
    transform:translate(-50%,-50%);
}

.active {
    visibility: visible;
    opacity: 1;
}

    .active + .modal {
        visibility: visible;
        opacity: 1;
    }

    .show{
        cursor:pointer;
        padding:10px;
        background-color:crimson;
        border-radius:10px;
        border:none;
        color:white;
    }

.mod-achievement-controls-holder{
    display:flex;
    text-align:center;
}
.mod-achievement-controls-holder button {
    flex-basis:50%;
    border:none;
    padding:15px;
    cursor:pointer;
}
#control-button-approve:hover{
    background-color:aqua;


}
#control-button-deny:hover{
    background-color:crimson;
}


.profile-header {
    height: 50vh;
    box-shadow: 1px 5px 5px rgba(0,0,0,0.4);
    width: 100%;
    position: relative;
}

.profile-information {
    position: absolute;
    height: 200px;
    width: 300px;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.profile-avatar-holder {
    text-align: center;
}

    .profile-avatar-holder img {
        height: 200px;
        width: 200px;
        border-radius: 50%;
        margin: 0 auto;
    }

.profile-name {
    width: 100%;
    height: 48%;
    text-align: center;
}

    .profile-name h2 {
        margin-bottom: 0;
    }

    .profile-name h5 {
        margin-top: 0;
    }

.profile-navigation {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.profile-navigation-item {
    text-decoration: none;
    padding: 10px;
    color: grey;
    text-transform: uppercase;
    font-size: 20px;
}

.profile-navigation-item--active {
    color: crimson;
    font-size: 30px;
}

.media-container {
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    width: 200px;
    height: 200px;
    top:30%;
    left:50%;
    transform:translate(-50%,-50%);
    vertical-align: middle
}

.media-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(180, 180, 180, 0.6);
}

#media-input {
    display: block;
    width: 200px;
    height: 200px;
    line-height: 200px;
    opacity: 0;
    position: relative;
    z-index: 9;
}

.media-icon {
    display: block;
    color: #ffffff;
    font-size: 2em;
    height: 200px;
    line-height: 200px;
    position: absolute;
    z-index: 0;
    width: 100%;
    text-align: center;
}

.media-object {
}

.img-object {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    display: block;
}

.media-control {
    margin-top: 30px;
}

.edit-profile {
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    border:none;
    background-color:crimson;
    padding:15px;
    color:white;
}

.save-profile {
    color:white;
    position: absolute;
    left: 50%;
    top: 60%;
    border:none;
    transform: translate(-50%,-50%);
    background-color: crimson;
    padding: 15px;
}
.edit-profile-form{
    position:relative;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}

.profile-content-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap:wrap;
}

.profile-workout-item {
    flex-basis: 225px;
    height: 200px;
    border-radius: 5px;
    margin: 5px;
    text-align: center;
    position: relative;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.72);
    cursor:pointer;
    transition:.5s;
}

    .profile-workout-item h2 {
        text-transform: uppercase;
        color: #333333;
        text-shadow: 0 0 1px rgba(0, 0, 0, 0.4), 1px 1px 1px rgba(0, 0, 0, 0.2);
    }

.profile-workout-footer {
    position: absolute;
    bottom: 0;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    left: 0;
    right: 0;
    height: 50px;
    background-color: crimson;
}
.profile-workout-item:hover{
    box-shadow:none;
}

#profile-workouts-modal{
    min-width:300px;
    width:80%;
    max-height:80vh;
    height:auto;
    overflow-y:scroll;
    overflow-x:hidden;
    transform:translate(-50%,-45%);
}
.profile-workout-controls{
    display:flex;
    width:350px;
    margin:0 auto;
    height:50px;
}
.profile-workout-controls-item{
    flex-basis:45%;
    margin:0 3px 0 3px;
    text-align:center;
    background-color:crimson;
    border-radius:10px;
    height:70%;
}
    .profile-workout-controls-item a{
        font-size:22px;
        text-decoration:none;
        color:white;
    }
#profile-workout-controls-item__delete{
    background-color:transparent;
    border:1px solid crimson;
}

.profile-workout-hidden-option{
   display:none;
}
.profile-workout-hidden-option--deactivate{
    display:block;
}
.profile-workout-delete-btn{
    color:black;
    font-size:22px;
    cursor:pointer;
}


.loading-bro {
    position:fixed;
    z-index:100;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    margin: 50px auto;
    width: 150px;
    display:none;
}
.loading-bro--active{
    display:block;
}

    .loading-bro > h1 {
        text-align: center;
        font-size: 2.5em;
        margin-bottom: 1em;
        font-weight: 300;
        color: #8E8E8E;
    }

#load {
    width: 150px;
    animation: loading 3s linear infinite;
}

    #load #loading-inner {
        stroke-dashoffset: 0;
        stroke-dasharray: 300;
        stroke-width: 10;
        stroke-miterlimit: 10;
        stroke-linecap: round;
        animation: loading-circle 2s linear infinite;
        stroke: #51BBA7;
        fill: transparent;
    }

@keyframes loading {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes loading-circle {
    0% {
        stroke-dashoffset: 0;
    }

    100% {
        stroke-dashoffset: -600;
    }
}



/*MEDIA QUERIES*/
@media only screen and (max-width: 600px) {
    .card {
        width: 100%;
    }
}