@using GainzTrack.Web.Services
@model GainzTrack.Web.ViewModels.WorkoutViewModels.CreateWorkoutViewModel
@inject IExercisesService ExercisesService

<h2>Create page</h2>

<h3>Form will be here</h3>

<form id="ms-form" asp-controller="Workout" asp-action="Create" method="post">
    <ul id="progress-bar">
        <li class="active-bar">Information Setup</li>
        <li>Exercises Setup</li>
    </ul>
    <fieldset>
        <h2 class="fs-title">Information Setup</h2>
        <input asp-for="Name" placeholder="Workout name" />
        <input type="radio" asp-for="IsPublic" value="true" checked> Public
        <input type="radio" asp-for="IsPublic" value="false"> Private<br>
        <button class="next action-btn" type="button">Next</button>
    </fieldset>
    <fieldset>
        <select name="days">
            @foreach (var day in Enum.GetNames(typeof(DayOfWeek)).OrderBy(x => x))
            {
                <option value="@day">@day</option>
            }
        </select>
        <select name="exercises">
            @foreach (var exercise in ExercisesService.GetExercisesNames())
            {
                <option value="@exercise">@exercise</option>
            }
        </select>
        <button class="previous action-btn" type="button"></button>
        <button class="submit action-btn" type="submit">Submit</button>
    </fieldset>
</form>
