<div class="admin-header">
    <span><a class="remove-textdec" asp-action="Index" asp-route-section="achievements">Achievements</a></span>
    <span><a class="remove-textdec option--active" asp-action="Index" asp-route-section="users">Users</a></span>
</div>

<h1>Hi from users</h1>