<li id="achievements-feed" class="dashboard-nav__item">
    <a href="/Administration/Index">
        <i class="fa fa-lock">
            <span class="icon-bg"></span>
        </i>
        <span class="navbar-item-text">Administration</span>
    </a>
</li>