@using GainzTrack.Infrastructure.Identity
@inject SignInManager<IdentityApplicationUser> SignInManager

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GainzTrack.Web</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

</head>
<body>

    <div class="dashboard">
        <header>
            <nav class="dashboard-header-nav">
                <div class="dashboard-logo-container">
                    <a href="#" class="dashboard-logo">GainzTrack</a>
                    <a href="#" class="dashboard-toggle-btn">
                        <i class="fa fa-bars">

                        </i>
                    </a>
                </div>
                <div class="dashboard-top-nav-container">
                    <ul class="links">
                        <li class="dashboard-dropwdown">
                            <a href="#" class="dashboard-menu-item">
                                <img src="https://t4.ftcdn.net/jpg/00/58/27/69/240_F_58276968_qorIPJG2Ec0IyJVq5IIxaGv0UKwx6FPn.jpg" class="dashboard-list-img" />
                            </a>
                            <ul class="dashboard-dropmenu-item">
                                <li class="dashboard-notification-item">
                                    <a href="#" class="dashboard-notification-content">
                                        <i class="fa fa-edit"></i>
                                       My Profile
                                    </a>
                                </li>
                                <li class="dashboard-notification-item">
                                    <a href="#" class="dashboard-notification-content">
                                        <i class="fa fa-power-off"></i>
                                        Log out
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <aside>
            <!-- Dashboard Sidebar (Block)-->
            <nav class="dashboard-sidebar">
                <!-- Dashboard Nav (Block)-->

                <ul>
                    <!-- Item (Element)-->
                    <li id="home-feed" class="dashboard-nav__item">
                        <a href="/Home/Index">
                            <i class="fa fa-home">
                                <span class="icon-bg"></span>
                            </i>
                            <span class="navbar-item-text">Home</span>
                        </a>
                    </li>
                    <li id="workouts-feed" class="dashboard-nav__item">
                        <a href="/Workout/Index">
                            <i class="fa fa-dumbbell">
                                <span class="icon-bg"></span>
                            </i>
                            <span class="navbar-item-text">Workouts</span>
                        </a>
                    </li>
                    <li id="athletes-feed-feed" class="dashboard-nav__item">
                        <a href="/Users/All">
                            <i class="fa fa-users">
                                <span class="icon-bg"></span>
                            </i>
                            <span class="navbar-item-text">Discover athletes</span>
                        </a>
                    </li>
                    <li id="achievements-feed" class="dashboard-nav__item">
                        <a href="#">
                            <i class="fa fa-trophy">
                                <span class="icon-bg"></span>
                            </i>
                            <span class="navbar-item-text">Achievements</span>
                        </a>
                    </li>
                    @if(this.User.IsInRole("Admin"))
                    {
                        @await Html.PartialAsync("_AdministrationPartial.cshtml")
                    }
                </ul>
            </nav>
        </aside>
        <!-- Dashboard Content (Block)-->
        <div class="dashboard-content-wrapper">
            @RenderBody()
        </div>

    </div>


    <environment include="Development">

        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
