<li class="dashboard-nav__item">
    <a href="/Moderation/Index">
        <i class="fa fa-user-circle">
            <span class="icon-bg"></span>
        </i>
        <span class="navbar-item-text">Moderation</span>
    </a>
</li>