@model GainzTrack.Web.ViewModels.ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />

<div class="alert alert-danger" role="alert" style="margin:0 auto;">
    <strong>Failed!</strong>@Model.Message
</div>
