@model GainzTrack.Core.Entities.AchievementUser[]

<div class="admin-header">
    <span><a class="remove-textdec option--active" asp-action="Index" asp-route-section="achievements">Achievements</a></span>
</div>

<div class="result-container"></div>

<table class="table-administration" style="margin-top:10px;">
    <thead>
        <tr>
            <th>Id</th>
            <th>Exercise</th>
            <th>Reps/Secs</th>
            <th>Points</th>
            <th>Video</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Where(x => x.IsApproved == false))
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Achievement.Exercise.ExerciseName</td>
                <td>@item.Achievement.OverloadAmount</td>
                <td>@item.Achievement.AchievementPointsGain</td>
                <td><button class="show">View Video</button></td>
            </tr>
        }

    </tbody>
</table>

<div class="mask" role="dialog"></div>
<div class="modal" role="alert">
    <button class="close" role="button">X</button>
    <div class="custom-modal-content"></div>
</div>




