@model GainzTrack.Core.Entities.AchievementUser
@{
    Layout = null;
}


    <iframe style="border:none;" src="https://www.youtube.com/embed/@Model.VideoId?controls=0"></iframe>
    <div id="@Model.Id" class="mod-achievement-controls-holder">
        <button id="control-button-approve">Approve</button>
        <button id="control-button-deny">Deny</button>
    </div>

<script src="~/js/modal.js"></script>