<div class="admin-header">
    <span><a class="remove-textdec" asp-action="Index" asp-route-section="achievements">Achievements</a></span>
    <span><a class="remove-textdec option--active" asp-action="Index" asp-route-section="reports">Reports</a></span>
</div>

<h1>Hi from reports</h1>